<a href="https://colab.research.google.com/github/Jcvelezv1985/ETL-Northwind/blob/main/nexarte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# cargar documentos

In [7]:
import pandas as pd
url = '/content/Anexo Parte 1 - glassdoordata.csv'
df= pd.read_csv(url)

In [8]:
df.head()

,jobtitle,gender,age,performance,education,department,seniority,income,bonus
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938
1,Software Engineer,Male,21,5,College,Management,5,108476,11128
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319

# a.	Top 10 del pago total por cargo

In [16]:
x = df.sort_values(['income'], ascending=False)
print(x.head(10));

              jobtitle  gender  age  performance    education      department  \
927            Manager    Male   58            1          PhD      Management
353            Manager    Male   59            4          PhD           Sales
609                 IT    Male   65            4      Masters           Sales
799            Manager    Male   55            1  High School      Management
357            Manager  Female   60            4          PhD      Management
869  Software Engineer    Male   59            1      College           Sales
350  Software Engineer    Male   65            4  High School      Management
528            Manager    Male   60            4      College      Management
233            Manager    Male   62            5      College  Administration
737  Software Engineer    Male   64            2          PhD           Sales

     seniority  income  bonus
927          4  179726   4284
353          5  176789   6773
609          5  165229   6506
799          5  163208   4095
357          3  160614   8354
869          5  160460   2930
350          5  157852   6669
528          3  157644   7213
233          5  157410   7840
737          5  157277   4844

#b.	Nivel educativo mejor pago

In [17]:
x = df.sort_values(['income'], ascending=False)
print(x.head(1));

    jobtitle gender  age  performance education  department  seniority  \
927  Manager   Male   58            1       PhD  Management          4

     income  bonus
927  179726   4284

# c.	La mediana de hombres y mujeres.

In [33]:
from statistics import mean
hombre=df[df['gender']=='Male']
hombre=hombre[['age']]
print("la media de los hombres es: ", hombre.median())
mujer=df[df['gender']=='Female']
mujer=mujer[['age']]
print("la media de las mujeres es: ", mujer.median());

la media de los hombres es:  age    40.0
dtype: float64
la media de las mujeres es:  age    42.0
dtype: float64

# d.	Media y desviación del rendimiento por cargo

In [63]:
import numpy as np
manager = df[df['jobtitle']=='Manager']
manager = manager[['performance']]
print("La media del rendimiento de los manager es: ",(manager.median()))
print("La desviacion del rendimiento de los manager es: ",np.std(manager))

Graphic_Designer = df[df['jobtitle']=='Graphic Designer']
Graphic_Designer = Graphic_Designer[['performance']]
print("La media del rendimiento de los Graphic Designer es: ",Graphic_Designer.median())
print("La desviacion del rendimiento de los Graphic Designer es: ",np.std(Graphic_Designer))

Software_Engineer = df[df['jobtitle']=='Software Engineer']
Software_Engineer = Software_Engineer[['performance']]
print("La media del rendimiento de los Software Engineer es: ",Software_Engineer.median())
print("La desviacion del rendimiento de los Software Engineer es: ",np.std(Software_Engineer))

Warehouse_Associate = df[df['jobtitle']=='Warehouse Associate']
Warehouse_Associate = Warehouse_Associate[['performance']]
print("La media del rendimiento de los Warehouse Associate es: ",Warehouse_Associate.median())
print("La desviacion del rendimiento de los Warehouse Associate es: ",np.std(Warehouse_Associate))

Data_Scientist = df[df['jobtitle']=='Data Scientist']
Data_Scientist = Data_Scientist[['performance']]
print("La media del rendimiento de los Data Scientist es: ",Data_Scientist.median())
print("La desviacion del rendimiento de los Data Scientist es: ",np.std(Data_Scientist))

Driver = df[df['jobtitle']=='Driver']
Driver = Driver[['performance']]
print("La media del rendimiento de los Data Scientist es: ",Driver.median())
print("La desviacion del rendimiento de los Driver es: ",np.std(Driver))

Financial_Analyst = df[df['jobtitle']=='Financial Analyst']
Financial_Analyst = Financial_Analyst[['performance']]
print("La media del rendimiento de los Financial Analyst es: ",Financial_Analyst.median())
print("La desviacion del rendimiento de los Financial Analyst es: ",np.std(Financial_Analyst))

IT = df[df['jobtitle']=='IT']
IT = IT[['performance']]
print("La media del rendimiento de los IT es: ",IT.median())
print("La desviacion del rendimiento de los IT es: ",np.std(IT))

Marketing_Associate = df[df['jobtitle']=='Marketing Associate']
Marketing_Associate = Marketing_Associate[['performance']]
print("La media del rendimiento de los Marketing Associate es: ",Marketing_Associate.median())
print("La desviacion del rendimiento de los Marketing Associate es: ",np.std(Marketing_Associate))

Sales_Associate = df[df['jobtitle']=='Sales Associate']
Sales_Associate = Marketing_Associate[['performance']]
print("La media del rendimiento de los Sales Associate es: ",Sales_Associate.median())
print("La desviacion del rendimiento de los Sales Associate es: ",np.std(Sales_Associate))

La media del rendimiento de los manager es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los manager es:  performance    1.294862
dtype: float64
La media del rendimiento de los Graphic Designer es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los Graphic Designer es:  performance    1.45872
dtype: float64
La media del rendimiento de los Software Engineer es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los Software Engineer es:  performance    1.509
dtype: float64
La media del rendimiento de los Warehouse Associate es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los Warehouse Associate es:  performance    1.408791
dtype: float64
La media del rendimiento de los Data Scientist es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los Data Scientist es:  performance    1.417237
dtype: float64
La media del rendimiento de los Data Scientist es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los Driver es:  performance    1.332619
dtype: float64
La media del rendimiento de los Financial Analyst es:  performance    4.0
dtype: float64
La desviacion del rendimiento de los Financial Analyst es:  performance    1.41137
dtype: float64
La media del rendimiento de los IT es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los IT es:  performance    1.473728
dtype: float64
La media del rendimiento de los Marketing Associate es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los Marketing Associate es:  performance    1.403125
dtype: float64
La media del rendimiento de los Sales Associate es:  performance    3.0
dtype: float64
La desviacion del rendimiento de los Sales Associate es:  performance    1.403125
dtype: float64

# e.	Departamento con personal de mayor antigüedad.

In [75]:
import numpy as np

a1 = df[df['department']=='Administration']
a1 = a1[['seniority']]
print('Administration', np.mean(a1))

a2 = df[df['department']=='Engineering']
a2 = a2[['seniority']]
print('Engineering', np.mean(a2))

a3 = df[df['department']=='Management']
a3 = a3[['seniority']]
print('Management', np.mean(a3))

a4 = df[df['department']=='Operations']
a4 = a4[['seniority']]
print('Operations', np.mean(a4))

a5 = df[df['department']=='Sales']
a5 = a5[['seniority']]
print('Sales', np.mean(a5))

Administration seniority    3.103627
dtype: float64
Engineering seniority    3.140625
dtype: float64
Management seniority    2.974747
dtype: float64
Operations seniority    2.780952
dtype: float64
Sales seniority    2.879227
dtype: float64

# 3.	Encuentre la distribución de los pagos totales de cada género, use la herramienta estadística más adecuada.

In [86]:
hombre=df[df['gender']=='Male']
hombre=hombre[['income']]
hombre = hombre['income'].sum()


mujer=df[df['gender']=='Female']
mujer=mujer[['income']]
mujer= mujer['income'].sum()


print("los pagos de los hombres es: ", hombre, "con un porcentaje de: ", round((hombre/(hombre+mujer))*100,2))
print("la media de las mujeres es: ", mujer, "con un porcentaje de: ", round((mujer/(hombre+mujer))*100,2))

los pagos de los hombres es:  52379414 con un porcentaje de:  55.44
la media de las mujeres es:  42093239 con un porcentaje de:  44.56